.full-width {
  width: 100vw;
  max-width: 100%;
}

.sun {
  max-width: 10vw;
  top: 4vh;
  left: 8vw;
}

.clouds {
}

.buildings {
  max-width: 45vw;
  top: 32vh;
  right: 0;
}

.hills {
  top: 45vh;
}

.ducks {
  max-width: 35vw;
  top: 48vh;
  left: 10vw;
}

.flowers {
  top: 50vh;
}
